@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: var(--font-anton); /* use Boldonse imported from next/font */
  --font-body: var(--font-archivo);     /* use Archivo imported from next/font */

  --background: #ffffff;
  --foreground: #1C202E;
  --primary:    #65e5b5;
  --secondary:  #000000;  
  --accent:     #eeeeee;  
}

.dark {
  --background: #696969;        
  --foreground: #ECEFF4;       
  --primary: #fff;              
  --secondary: #000;            
  --accent: #eeeeee;            
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading); /* optional tight spacing for condensed look */
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}