@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: 'Raleway', sans-serif;
  --font-body: 'Archivo', sans-serif;

  --background: #ffffff;
  --foreground: #1C202E;
  --primary:    #65e5b5;
  --secondary:  #000000;  
  --accent:     #eeeeee;  

}

.dark {
  --background: #696969;        /* Deep charcoal */
  --foreground: #ECEFF4;        /* Soft light gray for readability */
  --primary: #fff;           /* Light cyan-teal for accents */
  --secondary: #000;         /* Keep warm peach tone */
  --accent: #eeeeee;            /* Muted red for call to action */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
